.indexes {
    background: #282c34;
     color: #565e6d;
    //  padding-right:5px;
}

.present {
    background: rgb(103, 214, 108);
    color:white;
}

.absent {
    background: rgb(226, 114, 114);
    color:rgb(255, 255, 255);
}

table td {
    padding: 0 7px;
}